{% extends 'base.html.twig' %}

{% block title %}UrlBase index{% endblock %}

{% block body %}
    {% if app.user %}
    <h1>UrlBase index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>BaseUrl</th>
                <th>GeneratedUrl</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for url_base in url_bases %}
            <tr>
                <td>{{ url_base.id }}</td>
                <td>{{ url_base.baseUrl }}</td>
                    <td>{{ url_base.generatedUrl}}</td>
                <td>
                    <a href="{{ path('url_base_show', {'id': url_base.id}) }}">Show</a>
                    <a href="{{ path('url_base_edit', {'id': url_base.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Oops, no records found!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('url_base_new') }}" class="btn btn-secondary">Generate new url</a>
        {% else %}
         You have to be loged in to see urls!
    {%  endif %}
{% endblock %}
