{% extends 'base.html.twig' %}

{% block title %}UrlBase{% endblock %}

{% block body %}
    <h1>UrlBase</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ url_base.id }}</td>
            </tr>
            <tr>
                <th>BaseUrl</th>
                <td>{{ url_base.baseUrl }}</td>
            </tr>
            <tr>
                <th>GeneratedUrl</th>
                <td>{{ url_base.generatedUrl }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('url_base_index') }}" class="btn btn-secondary">Back to list</a>

    <a href="{{ path('url_base_edit', {'id': url_base.id}) }}" class="btn btn-secondary">Edit</a>

    {{ include('url_base/_delete_form.html.twig') }}
{% endblock %}
