{% extends 'base.html.twig' %}

{% block title %}{% trans %}Redirected Urls {% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}All your generated urls{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}Your Url {% endtrans %}
                <th>{% trans %}Description {% endtrans %}</th>
                <th>{% trans %}Generated Url{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for redirect in url_redirect %}
            <tr>
                <td>{{ redirect.id }}</td>
                <td>{{ redirect.baseUrl }}</td>
                <td>{{ redirect.description }}</td>
                <td>{{ redirect.generatedUrl}}</td>
                <td>
                    <a href="{{ path('url_redirect_show', {'id': redirect.id}) }}">Show</a>
                    <a href="{{ path('url_redirect_edit', {'id': redirect.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4"> {% trans %}Oops, no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('url_redirect_new') }}">{% trans %}Generate new url{% endtrans %}</a>
{% endblock %}